<section class="block container block-product" data-aos="zoom-in-up">
  <header class="block__header">
    <h2>Search For Your Products</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
      exercitationem?
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter product name here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
</section>
