<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit,
        cumque! Tempora suscipit iste perferendis dolores consequuntur dicta,
        expedita accusamus exercitationem, veniam quia unde architecto voluptate
        fugiat sint quisquam perspiciatis iusto?
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
