<div class="card">
  <header class="card__header">
    <img src="images/product.png" alt="" />
  </header>
  <div class="card__body">
    <div class="price-container">
      <h3 class="price__product">Product-Name</h3>
      <h3 class="price">5</h3>
    </div>
    <ul class="list list--tick">
      <li class="list__item">In-Stock</li>
    </ul>
    <div class="quantity-container">
      <p class="quantity__header">Quantity:</p>
      <div class="quantity buttons__added">
        <input type="button" value="-" class="minus" />
        <input
          type="number"
          step="1"
          min="1"
          max=""
          name="quantity"
          value="1"
          title="Qty"
          class="input-text qty text"
          size="4"
          pattern=""
          inputmode=""
        />
        <input type="button" value="+" class="plus" />
      </div>
    </div>
    <button class="btn btn--outline btn--block">Remove From Cart</button>
  </div>
</div>
