<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <title>Logged In</title>
    </head>
    <body class= "container">
        <article>
            <h1>Logged out</h1>
            <form action="{{ url_for('home') }}">
                <input type="submit" value="Return home" />
            </form>
        </article>
        </button>
    </body>
</html>