<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
  </head>
  <body>
    <form class="form-signin" method="POST">
      <h1>Log In</h1>
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          name = "login"
          placeholder="Name"
          minlength="3"
          maxlength="255"
          autofocus
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          name = "password"
          type="password"
          placeholder="Password"
          maxlength="255"
        />
      </div>
      {% if incorrect_login %}
        <p style="color: red;">Invalid name or password credentials</p>
      {% endif %}
      <button class="btn">Sign in</button>
      <p class="muted">Need to create an account? Sign up <a href="{{ url_for('signup') }}">here</a></p>
    </form>
  </body>
</html>
